html,
body {
    height: 100%;
}

#cover {
    background: #222 url('img/stars.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cover-caption {
    width: 100%;
}

.form-inline {
    justify-content: center;
}

.carousel .carousel-item > img {
    width: 100%;
    height: 100%;
}
